.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    overflow: hidden;
}

.thead {
    position: sticky;
    z-index: 100;
}

.trHead {
    background: #ffffff;
}

.th {
    font-size: 15px;
    padding: 0px;
    color: black;
    text-transform: capitalize;
    border: 2.5px solid black;
}

.trBody {
    background: #ffffff;
}

.td {
    font-size: 15px;
    padding: 0px;
    color: black;
    border: 1px solid black;
}