.grid{
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 1024px;
    background: #F3F3F3;
    border: 2px solid #000000;
}

header {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.stepsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.steps {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px 0px 3px 0px;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0px 10px 0px 10px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 10px;
    background: #ffffff;
    border: 2px solid #000000;
}
