.grid{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: #F3F3F3;
    border: 2px solid #000000;
    padding: 10px;
}

.section{
    display: flex;
    flex-direction: column;
    height: auto;
    background: #F3F3F3;
    border: 1px solid #000000;
    padding: 10px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 0px;
    background: #ffffff;
    border: 2px solid #000000;
    flex-grow: 1;
}

.containerColumn {
    display: flex;
    flex-direction: column;
}

.containerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 5px 0px;
}

.stepRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 5px 0px;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.firstTitle {
    font-size: 15px;
    color: #000000;
}

.secondTitle {
    font-size: 15px;
    color: #000000;
    padding: 0px 10px 0px 0px;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 0px 3px 3px 3px;
    background: #ffffff;
    border: 2px solid #000000;
    flex-grow: 1;
}

.nav {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1400px) {
    .grid{
        width: 100%;
    }
}
